<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="Blog.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


  <!-- boxicons -->
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    
    
    
      <section class="home" id="home">
      <div class="home-text container">
        <div class="home-title">construction blog</div>
        <span class="home-subtitle">great construction blogs are here ...</span>
      </div>
    </section>

    <section class="post-header">
        <div class="header-content post-container">
            <!--  back to home  -->
            <a href="/Blog/Blog.html" class="back-home">back to home</a>
            <h1 class="header-title">best interior designs make sense </h1>
            <img src="/images/househand.jpg" alt="img" class="header-img" width="100%" height="400">
        </div>
    </section>

    <!-- post -->
      <div class="post-content post-container">
      <h2 class="sub-heading">create best intertior  design</h2>
      <p class="post-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil totam nesciunt libero sapiente natus sit, est numquam placeat ullam reiciendis aspernatur deleniti ab accusamus dicta, vel voluptatem molestiae facere dolorum nulla? Nemo obcaecati alias architecto explicabo quisquam accusantium saepe sequi expedita, eaque error libero officia!</p>
      <p class="post-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil totam nesciunt libero sapiente natus sit, est numquam placeat ullam reiciendis aspernatur deleniti ab accusamus dicta, vel voluptatem molestiae facere dolorum nulla? Nemo obcaecati alias architecto explicabo quisquam accusantium saepe sequi expedita, eaque error libero officia!</p>
      <h2 class="sub-heading">create best intertior  design</h2>
      <p class="post-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil totam nesciunt libero sapiente natus sit, est numquam placeat ullam reiciendis aspernatur deleniti ab accusamus dicta, vel voluptatem molestiae facere dolorum nulla? Nemo obcaecati alias architecto explicabo quisquam accusantium saepe sequi expedita, eaque error libero officia!</p>
      <p class="post-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil totam nesciunt libero sapiente natus sit, est numquam placeat ullam reiciendis aspernatur deleniti ab accusamus dicta, vel voluptatem molestiae facere dolorum nulla? Nemo obcaecati alias architecto explicabo quisquam accusantium saepe sequi expedita, eaque error libero officia!</p>
      <p class="post-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil totam nesciunt libero sapiente natus sit, est numquam placeat ullam reiciendis aspernatur deleniti ab accusamus dicta, vel voluptatem molestiae facere dolorum nulla? Nemo obcaecati alias architecto explicabo quisquam accusantium saepe sequi expedita, eaque error libero officia!</p>
<!-- share this article -->
<div class="share post-container">
  <span class="share-title">SHARE THIS ARTICLE</span>
  <div class="social"> 
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-whatsapp"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-instagram"></i></a>
  </div>

</div>
      

    </div>
</body>
</html>